* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }
nav {
  margin: 0;
  border-radius:25px;
  border:solid 1px;
  background-color: #a8cee3;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
div {
    text-align: center;
}
.topnav {
  border:solid 0px;
  border-color: #4492bd;
  color: #000000;
  margin: 9px;
}
.topnav a {
  float: left;
  display: block;
}
div {
    background-color: #edf4ff;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}
strong {
    color: #4492bd;
    background-color: #edf4ff;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}
.links {
    Color: #3d7d7a;
    background-color: #edf4ff;
    border: solid 2px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}
.mimo {
    Color: #3d7d7a;
    background-color: #edf4ff;
    border-radius: 15px;
    padding: 3px;
    margin: 5px;
}
td {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 5px;
}
.note {
    border: solid 2px #4b6595;
    border-radius: 20px;
    background-color: #d5f4ff;
}
img {
    border-radius: 8;
}
body {
     background-color: #fffdf7;
}
